/*general, background, text color*/
body{
    background-image:url('assets/bckgrnd.png');
    text-align: justify;
    line-height: 1.5;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 120px 1fr;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.top{
    color: #333333;
}

nav img{
    margin-right: 10px;
    margin-left: 10px;
}
.mobile_center {
    display: grid;
    align-items: center;
    justify-content: center;
}

/*font style*/
h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
.bold{
    font-weight: 900;
}
.lightBold{
    font-weight: 700;
}
.underline{
    text-decoration: underline;
}
ul{
    list-style: outside;
    margin-left: 20px;
}
ul.dashList{
    margin-left: 15px;
    list-style-type: none;
}
ul.dashList>li{
    text-indent: -15px;
}
ul.dashList>li:before{
    content: '-- ';
}
p, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.desktop {
    display: none;
}

.box {
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
}



footer{
    border-top:2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

@media only screen and (min-width:1000px){
/*margin*/
main {
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50px 200px 1fr;
}

.des1, .des2 {
    grid-column: span 2;
}
nav {
    justify-content: left; 
}
nav img{
    position: static;
    margin-right: 20px;
}

h1 {
    font-size: 34px;
}
h2 {
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}
p, li{
    font-size: 16px;
}


.mobile_center {
    display: grid;
    justify-content: left;
}
nav img{
    margin-right: 40px;
}


.mobile {
    display: none;
}
.desktop{
    display: grid;
}

footer{
    font-size: 16px;
}
}

@media only screen and (min-width:600px) and (max-width:1000px){
    main {
        display: grid;
        margin-left: 40px;
        margin-right: 40px;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 200px 1fr;
    }
    .box {
        grid-row: span 1;
        grid-column: span 1;
    }
    .des1, .des2 {
        grid-column: span 2;
    }
    nav {
        justify-content: left; 
    }
    nav img{
        position: static;
        margin-right: 20px;
    }
    
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
    }
    p, li{
        font-size: 16px;
    }

    .mobile_center {
        display: grid;
        justify-content: left;
    }
    nav img{
        margin-right: 40px;
    }
    
    
    .mobile {
        display: none;
    }
    .desktop{
        display: grid;
    }
    
    footer{
        font-size: 16px;
    }
    
}