/*general, background, text color*/
body{
    background-image:url('assets/bckgrnd.png');
    text-align: justify;
    margin: 0px;
}
aside{
    background-color: rgba(150,150,150,0.6);
    color: #FFFFFF;
}
.top{
    color: #333333;
}


/*font style*/
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.bold{
    font-weight: 900;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/*margin*/
nav{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
main{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
aside div{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
}
nav img{
    margin-right: 40px;
}
.bottom img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 45px;
    margin-left: 45px;
}


/*individual section*/
#profile_pic{
    border: 3px solid #2c5fa8;
    object-fit: cover;
    width:200px;
    height:200px;
    border-radius: 100px;
}
aside div h2{
    border-bottom:2px solid white;
}
footer{
    border-top:2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif
}